# Google Vision API Key
# Get it from: https://console.cloud.google.com/apis/credentials
GOOGLE_VISION_API_KEY=your_google_vision_api_key_here

# Spoonacular API Key
# Get it from: https://spoonacular.com/food-api
SPOONACULAR_API_KEY=your_spoonacular_api_key_here
